.button {
    display: inline-block;
    padding: 16px 32px;

    border: none;
    border-radius: 8px;

    color: #FFFFFF;
    background: #FF8B00;

    cursor: pointer;
    font-weight: 500;
    box-shadow: 0px 8px 12px rgba(9, 30, 66, 0.15), 0px 0px 1px rgba(9, 30, 66, 0.31);

    text-decoration: none;
}

.button:hover, .button:focus {
    background: #FF991F;
}

.button:disabled {
    cursor: not-allowed;
    color: rgba(255, 255, 255, 0.7);
    background: #FF991F;
}