.aside {
    max-height: 764px;
    width: 360px;
    padding: 24px;

    border-radius: 30px;
    overflow: hidden;
    background: #FFF;

    flex-shrink: 0;
}


@media screen and (max-width: 900px) {
    .aside {
        width: 100%;
    }
}