.root {
    display: flex;
    justify-content: space-between;

    height: 88px;
    padding: 0 24px;

    border-radius: 0 0 24px 24px;
    overflow: hidden;

    color: #FFFFFF;
    background: #000000;
    box-shadow: 0px 3px 5px rgba(9, 30, 66, 0.2), 0px 0px 1px rgba(9, 30, 66, 0.31);
}

.left {

}

.logo {
    max-height: 100%;
    width: auto;
}

.right {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 900px) {
    .progress {
        display: none;
    }
}

.user {
    display: flex;
    align-items: center;
    margin-left: 64px;
}

.name {
    margin-right: 8px;
}

@media screen and (max-width: 600px) {
    .name {
        display: none;
    }
}