.container {
    max-width: 1440px;
    margin: 0 auto;
}

.content {
    padding: 24px;

    display: flex;
    gap: 24px;
}

@media screen and (max-width: 900px) {
    .content {
        flex-direction: column;
    }
}