.main {
    position: relative;
    height: 764px;
    flex-grow: 1;
    padding: 40px;

    border-radius: 30px;
    overflow: hidden;

    background-image: url("../../assets/main-background.png");
    background-size: cover;

    color: #FFF;
}

.main:before {
    content: '';
    position: absolute;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background: linear-gradient(90deg, #142239 0%, rgba(9, 30, 66, 0) 100%);
    opacity: 0.6;
}

@media screen and (max-width: 900px) {
    .main {
        height: auto;
    }
}

.inner {
    height: 100%;
    position: relative;
}