.container, .highlightedContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 8px;
}

.highlightedContainer {
    margin-bottom: 16px;

    border-radius: 4px;
    box-shadow: 0px 8px 12px rgba(9, 30, 66, 0.15), 0px 0px 1px rgba(9, 30, 66, 0.31);
}

.avatarName {
    display: flex;
    align-items: center;
    min-width: 0;
}

.name, .score {
    margin-left: 8px;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
}

.score {
    font-weight: 600;
}

.name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}