.introVideo {
    margin: 32px 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.timer {
    margin-top: 32px;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 120px;
    height: 120px;

    background: rgba(23, 43, 77, 0.5);
    box-shadow: 0px 8px 12px rgba(9, 30, 66, 0.15), 0px 0px 1px rgba(9, 30, 66, 0.31);

    border: 5px solid #FFFFFF;
    border-radius: 50%;

    font-size: 30px;
}