.title {
    margin: 0;

    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 1.2;

    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.small {
    font-size: 30px;
}
