.item {
    display: inline-block;
    position: relative;

    width: 72px;
    height: calc(1.5em + 16px);

    text-align: center;
    line-height: 1;
}

.item:after {
    content: "";

    position: absolute;
    left: 50%;
    top: 1.5em;
    transform: translateX(-50%);

    height: 16px;
    width: 16px;

    border: 2px solid #FF8B00;
    border-radius: 50%;
}

.item.todo:after {
    background: #000000;
}

.item.done:after {
    background: #FF8B00;
}

.item:before {
    content: '';

    position: absolute;

    top: calc(1.5em + 7px);
    left: 0;
    height: 2px;
    width: 100%;

    background: #FF8B00;
}

.item:first-child:before {
    left: 50%;
    width: 50%;
}

.item:last-child:before {
    width: 50%;
}
