.options {
    list-style: none;
    margin: 32px 0;
    padding: 0;
}

.options li:not(:last-child) {
    margin-bottom: 8px;
}

.optionButton {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 300px;
    min-height: 43px;
    padding-left: 24px;

    color: #172B4D;
    background: #FFF0B3;
    opacity: 0.8;
    text-align: left;
    cursor: pointer;

    box-shadow: 0px 8px 12px rgba(9, 30, 66, 0.15), 0px 0px 1px rgba(9, 30, 66, 0.31);
    border: none;
    border-radius: 56px;
}

.optionButton:disabled {
    cursor: not-allowed;
}

.optionButton span {
    margin-left: 16px;
}

.optionSelected {
    color: #FFC400;
    background: #000000;

    border: 2px solid #FFFFFF;
}
